*{ padding:0; margin:0; box-sizing:border-box; font-family: "Segoe UI", Arial, sans-serif;scroll-behavior: smooth;}
body{padding: 0;margin: 0;background: #fff;font-family: "Segoe UI", Arial, sans-serif;}
input, select, textarea , button{transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
a {text-decoration:none;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;outline:none;outline: 0;}
a::after , a::before{text-decoration:none;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
a:hover , a:focus {text-decoration:none;}
input {border: 0;outline: 0;}
ul{margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, h5, h6 , p {margin: 0;}
img{max-width:100%}
.container{width: 100%;display: block;margin: 0 auto;max-width: 1480px!important;}
/* Extra */
/*  */
.form-wrap {width: 400px!important;}
section.login {padding: 60px 0;    background: #ededed;}
.form-wrap label{display: block;text-align: left;}
.form-wrap{color: #474747;}
.form-wrap h2 {color: #474747;font-size: 22px;font-weight: 700;margin-bottom: 20px;}
.form-wrap h2 span{color: #ffa500 ;}
a:hover{color:orange;}
.brdr-1:hover {
    -webkit-box-shadow: 0px 0px 6px 1px rgb(255 165 0);
    -moz-box-shadow: 0px 0px 6px 1px rgba(255,165,0,1);
    box-shadow: 0px 0px 6px 1px rgb(255 165 0);
}
/*  */
.sign-in-btn {background: orange!important;color: #fff!important;}
.event ul {list-style: disc;padding-left: 20px;}
.event {padding: 15px;border-radius: 10px;height: 100%;box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;}
section.main-banner-portolo {
    background: url('/images/portolo-banner-bg.jpg');
    background-size: 100%;
    padding: 100px 0;
    background-position: 490px 0px;
    position: relative;
}
section.main-banner-portolo::before {background: #ffffff8c;content: '';height: 100%;width: 100%;display: block;position: absolute;top: 0;}
.main-banner-portolo h1 {font-size: 80px;color: #474747;font-weight: 700;}
.hex-intro-item {background: url('/Images/hexagon.png') 50% no-repeat;display: inline-block;height: 280px;margin: auto;margin-bottom: -1.5rem;padding: 0 2.5rem;text-align: center;vertical-align: top;width: 280px;}
.hex-intro-item__inner {align-items: center;display: flex;flex-direction: column;height: 15pc;justify-content: center;}
.hex-intro-item__inner h3{    color: #bbd236;}



header{  background: #fff;    border-bottom: 1px solid #eeee;padding: 5px 0;}
.logo {font-size: 40px;color: #474747;}
.tasks .card {display: flex;box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;border-radius: 5px;flex-direction: initial;justify-content: space-between;}
.tasks .card i{color: #dddfeb;}
.txt-hdng {font-size: 20px;font-weight: 600;color: #ffa500;}
a.btn.btn-primary.btn-sm.nav__link.mr-0,.form-wrap .btn-primary {background: orange;border: orange;}
.txt-hdng span{display: block;font-size: 14px;color: #474747;text-align: initial;}
.logo span{color: #ffa500;font-weight: 600;}
.navbar {align-items: center;display: flex;flex-direction: row;font-family: sans-serif;padding: 0;margin-bottom: 0;}
footer {background: #f7f7f7;padding: 10px;font-size: 12px;position: fixed;width: 100%;bottom: 0;}
.main-home ul{background: #f7f7f7;padding: 15px;}
.event h2 {font-size: 20px;color: #474747;font-weight: 600;}
.event p{margin-top: 10px!important;}
.main-home,.banner-sub-sec{padding: 40px 0;}
.main-home p {font-size: 14px;/* margin: 20px 0; */}
.banner-sub-sec .event h2 {color: #000080;}
.emp-data {width: 100%;}
.prof-info{height: 100%;}
.control-icons h2 {color: #474747;font-size: 25px;display: inline-block;}
.controls {display: block;float: right;}
.control-icons i {background: orange;padding: 5px;color: #fff;border-radius: 50px;margin-left: 5px;}
.task-list-form .table td,.task-list-form .table th{padding: 5px;text-align: initial;}
.control-icons {padding: 20px 0;}
.task-list-form label {font-size: 12px;margin-bottom: 0px;color: #474747;}
.table-hd {background: #6e6c6c;color: #fff;}
.custm-checkbox {display: flex;flex-direction: column;justify-content: center;}
.form-box {height: 100%;padding: 2%;border-radius: 4px;border: 1px solid #eee;}
section.task-list-form {padding:  0 0 60px;}
.login .form-group {margin-bottom: 15px;}
/* .control-icons  i.fa-solid.fa-download{background: #6e6c6c;} */
.dash-tabs .nav-tabs .nav-link {color: orange;font-size: 18px;font-weight: 600;}
.dash-tabs .nav-tabs .nav-link.active{border-color: transparent;border-bottom: 2px solid orange;}
.dash-tabs .nav-tabs .nav-link:hover{border-color: transparent;background: #ffa50033;}

.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.prof-data table{color: #474747;margin-bottom: 0;}
.prof-data th {
  font-weight: 600;
  
}
/* .dash-tabs .tab-content{border: 1px solid #eee;height: 100%;} */
.dash-tabs img {
  width: 50%;
  display: inline-block;
}
.prof-info .card {
  align-items: initial;
  text-align: initial;
  width: 100%;
  justify-content: center;
}
.prof-data label {
  margin-right: 20px;
  margin-bottom: 0;
}
.prof-info .card
.card img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 5px;
}

.card .details{
  margin: 10px;
}

.card .details h2{
  font-weight: 600;
  font-size: 20px;
  color: #474747;
}

.card .details p{
  text-transform: uppercase;
  font-weight: 300;
}
.banner-sub-sec .event p{font-size: 14px;}
.main-home ul li{padding-bottom: 15px;}
.main-home ul li a{font-weight: 600;font-size: 14px;}
.strip-info{background: #f7f7f7;padding: 15px 0;border-bottom: 1px solid #eee;font-size: 14px;}
.brdr-1
{
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    color: orange;
    background: #fff;
    font-size: 14px ;
}
.push-left {
  margin-left: auto;
}
.botm-links a {
  margin-right: 30px;
  color: #474747;
  font-weight: 500;
}
.log-in-out button {
  color: orange;
  margin-left: 30px;
  background: #fff;
}
/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #272727;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #777;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
  .form-wrap {
    width: 100%!important;
  }
}
.nav-menu .menu-item a {
  color: #444444;
  display: block;
  line-height: 30px;
  margin: 0px 20px;
  text-decoration: none;
  /*text-transform: uppercase;*/
}
.nav-menu .menu-item a:hover {
  color: #ffa500;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
  z-index: 999;
  top: 42px;
  overflow: hidden;
  right:0;
}
.log-in-out img {
  position: absolute;
  width: 20px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}


.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}
/* **************** */
.chart-pie {
  position: relative;
  height: 15rem;
  width: 100%;
}
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 1ms;
}

.form-box .form-group .form-control
{
    max-width: 100%;
    font-size: 12px;
}
.form-boxs .form-control
{
    font-size: 14px;
    max-width: 100%;
}

.tab-content .form-control
{
    max-width: 100%;
}

.body-main-wrap{margin-bottom: 40px;padding: 4px;}