body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

html *
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* =================================  Covers most controls change this to globally change the font family and size =====================*/
.def,
span,
input[type="text"],
input[type="button"],
input[type="radio"],
input[type="image"],
input[type="submit"],
input[type="password"],
input[type="file"],
textarea,
select,
a
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    /*line-height: 12pt;*/
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button
{
    /*align-items: flex-start;
    text-align: center;*/
    cursor: pointer;
}

em
{
    font-style: italic;
    color: currentColor !important;
    /*color: black !important;*/
}

.stdFont
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.htmlLink
{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.htmlLinkSmall
{
    border: none;
    background-color: transparent;
    font-size: 9pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.centered
{
    margin: 0 auto;
}

.rightaligned
{
    margin-right: 0;
    margin-left: auto;
}

.leftaligned
{
    margin-left: 0;
    margin-right: auto;
}

/* =========================================== filters and sections =====================================*/
.filter
{
    /*top right bottom left*/
    padding: 0px 5px 5px 3px !important;
    background-color: #D7F6F9;
    /*background-color: #8BE1FF;*/
}

.SectionTitle
{
    color: darkblue;
    font-weight: bold;
}

.imgRefresh
{
    padding-left: 8px;
    padding-top: 10px;
}
/* =========================================== popups =====================================*/
.popupheader
{
    background-color: lightskyblue;
    width: 100%;
    padding-left: 8px;
}

.RoundedPanel
{
    border-radius: 5px;
    border: 2px solid LightBlue;
    padding: 5px;
    margin: 0px;
    background-color: white;
}

.SquarePanel
{
    background-color: white;
}

.EditScreenStyle
{
    width: 100%;
    height: 100%;
}

.pnlContain
{
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: #f1f1f1;
    min-height: 600px;
}

.Shadow
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Rounded
{
    border-radius: 5px;
}

.circle10
{
    height: 10px;
    width: 10px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.circle3
{
    height: 3px;
    width: 3px;
    display: block;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
}
/* =========================================== badges =====================================*/
.BadgeBingo
{
    line-height: 20pt;
    font-size: 20pt;
    font-family: "Times New Roman", Times, serif;
}
/* =========================================== button styles =====================================*/
.btnSmall
{
    background-color: white;
    border-radius: 2px;
    border: 1px solid gray;
    color: black;
    /*top right bottom left*/
    padding: 3px 8px 3px 8px !important;
    text-align: center;
    display: inline-block;
    font-size: 10pt !important;
}

.btnSmall:hover
{
    color: white;
    background-color: darkgray;
}

.btnNarrow
{
    background-color: white;
    border-radius: 2px;
    border: 1px solid gray;
    color: black;
    /*top right bottom left*/
    padding: 0px 8px 2px 8px !important;
    text-align: center;
    display: inline-block;
    font-size: 10pt !important;
    height: 20px;
}

.btnOrange
{
    background-color: orange;
    border-radius: 2px;
    border: 2px solid orange;
    color: white;
    padding: 3px 8px 3px 8px !important;
    text-align: center;
    display: inline-block;
    font-size: 10pt !important;
    text-decoration: none;
}

.btnOrange:hover
{
    color: black;
    background-color: darkorange;
    /*text-decoration: underline !important;*/
}

.btnLink
{
    text-decoration: none;
}

.btnLink:hover
{
    text-decoration: underline !important;
}

.btnGreen
{
    background-color: green;
    border-radius: 2px;
    border: 1px solid darkgreen;
    color: white;
    /*top right bottom left*/
    padding: 3px 8px 3px 8px !important;
    text-align: center;
    display: inline-block;
    font-size: 10pt !important;
}

.btnGreen:hover
{
    color: white;
    background-color: darkgreen;
}
/* =========================================== Affects all grids =====================================*/
table
{
    border-spacing: 0pt;
    padding: 0px !important;
    border-collapse: collapse;
}

.tblSubtitle
{
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgray;
    height: 20px;
}

.lblTitle
{
    font-size: 18pt;
    color: Navy;
    background-color: transparent;
}

.lblTitlePop
{
    font-weight: bold;
}

.lblSubtitle
{
    font-size: 12pt;
}

.lblSmall
{
    font-size: 8pt;
}

.pnlLogin
{
    border-radius: 10px;
    background-color: white;
    /*top right bottom left*/
    padding: 35px 10px 35px 20px;
    display: inline-block;
    border: 2px solid lightblue;
    /* applies shadow to the element */
    -moz-box-shadow: 0 0 8px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 8px #666;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}

.verticalLine
{
    border-left: 3px solid darkgray;
}

.HomePageAd1
{
    color: white;
    font-weight: bold;
    font-size: 20pt;
    text-decoration: none;
}

.HomePageAd2
{
    font-size: 14pt;
    text-decoration: none;
}

.HomePagePanel
{
    width: 100%;
    min-height: 560px;
    border-radius: 5px;
    border: 0px;
}

.RoundedAdPanel
{
    border-radius: 5px;
    /*border: 1px solid #F2F2F2;*/
    background-color: #F2F2F2;
    padding: 5px;
}
/* =============================== validation Error message Styling ======================================*/
.validate
{
    font-style: italic;
    color: red;
}

em
{
    color: red;
}
/* =============================== Error message Styling ======================================*/
#lblMsg
{
    text-align: left;
    /*background-color: lightcoral;*/
    /*top right bottom left*/
    padding: 2px -2px 2px 2px !important;
    /*color: white;*/
    /*font-weight: bold !important;*/
    border: solid 1px #000000;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
/* ================================= Printout Styling ============================================ */
@media print
{
    /* Called from pages needing to hide the print button momentarily */
    .hide_print
    {
        display: none;
    }
}
/* ==============================  checkbox and radio button list Styling  =============================================== */
.CheckBoxSmall label
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8pt !important;
    line-height: 14pt;
    vertical-align: top;
    /*color:red;*/
}

.CheckBox,
.ckBoxList td
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.radio td
{
    padding-left: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ==============================  Radio Button Styling  =============================================== */
.RadioButton input
{
    margin-top: 4px;
    border: solid thin white;
    float: left;
}

.RadioButton label
{
    padding-left: 2px;
    padding-right: 8px;
    color: black;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.RadioButtonSmall input
{
    margin-top: 7px;
    border: solid thin white;
    float: left;
}

.RadioButtonSmall label
{
    padding-left: 2px;
    padding-right: 8px;
    /*color:red;*/
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
/* ==============================  css for alert button  =============================================== */
.cmdAlert
{
    background-image: url('../images/icons/attention.png');
    background-size: 24px 24px;
    background-color: Transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left;
    /*top right bottom left*/
    padding: 0px 0px 12px 12px !important;
}
/* ==============================  css for modal progress panel  =============================================== */
.Loadingmodal
{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
    /*-moz-opacity: 0.8;*/
}

.Loadingcenter
{
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 62px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    /*-moz-opacity: 1;*/
}

.Loadingcenter img
{
    height: 60px;
    width: 60px;
}

/*================================================ tooltip ======================================*/
.RadToolTip .rtContent
{
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*================================================ Rad Tab Strip ======================================*/
.RadTabStrip
{
    height: 30px;
    /*border-bottom: 1px solid dodgerblue;*/
    margin: 0px;
}

.RadTabStrip .rtText
{
    line-height: 12px;
    font-size: 10pt;
}

.RadTabStrip .rtsLink
{
    /*top right bottom left*/
    padding: 3px 5px 3px 5px !important;
}

.MultiPageBorder
{
    border: 3px solid #25a0da;
    /*padding-bottom:3px;*/
    margin-left: -5px;
}

/*Radspell*/
.MyRadSpell
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 10pt !important;
    color: red !important;
}

/*================================================ Rad Window ======================================*/
.RadWindow .rwTitleWrapper .rwTitle
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*line-height: 12px;*/
    font-size: 10pt;
    /*height: 20px;*/
}

/*.RadWindow, .RadWindow iframe
{
    z-index: 7000 !important;
}*/

/*================================================ Rad Map ======================================*/
.RadMap .k-marker.k-marker-my-custom-shape:before
{
    color: green;
    font-size: 25px;
    margin-top: 2px;
}
/*================================================ Rad Listbox ======================================*/
.RadListBox .rlbDisabled,
.RadListBox .rlbCheckAllItems > label,
.RadListBox .rlbItem > label
{
    font-size: 10pt;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 12px;
}

.RadListBox .rlbCheckAllItem, .RadListBox .rlbItem
{
    /*top right bottom left*/
    padding: 2px 8px 2px 10px !important;
}

/*================================================ Rad Scheduler ======================================*/
.RadScheduler .rsVerticalHeaderTable
{
    font-weight: 300 !important;
    font-size: 10pt;
}

/*================================================ Rad Window Popup ======================================*/
/* remove main borders */
.borderLessDialog.RadWindow
{
    border: none;
    padding: 0;
}

/* remove the border around the content */
.borderLessDialog.RadWindow .rwContent
{
    border: none;
    background-color: white;
    /* applies shadow to the element */
    -moz-box-shadow: 0 0 8px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 12px #666;
}

/* keeps the border around the content */
.borderDialog.RadWindow .rwContent
{
    background-color: white;
    /* applies shadow to the element */
    -moz-box-shadow: 0 0 8px #666;
    -webkit-box-shadow: 0 0 8px #666;
    box-shadow: 0 0 12px #666;
}

div.RadWindow .rwTitleRow em
{
    line-height: 12px;
    font-size: 12px;
    height: 16px;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*================================================ Rad Grid ======================================*/
.RadGrid .rgPagerCell .rgPagerButton,
.RadGrid .rgPagerCell .rgActionButton
{
    padding: 0px !important;
}

.RadGrid .rgPagerCell .rgNumPart a
{
    font-size: 10pt !important;
    padding: 2px !important;
}

/*hyper link cells */
.RadGrid .rgRow a, .RadGrid .rgAltRow a, .RadGrid .rgEditRow a
{
    font-size: 10pt;
}

/*button columns*/
/*hides the unused icon input button columns*/
/*.RadGrid .t-font-icon {
    display: none !important;
}

.RadGrid .t-text {
    font-size: 10pt !important;
}

.RadGrid td .t-button {
    vertical-align: top;
    padding: 0px;
    line-height: 8pt;
    text-align: left;
    border:none;
}*/

/* Mike- for labels within template columns */
.RadRowText
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
/* Mike- for button images */
.RadRowButton24
{
    height: 24px;
    width: 24px;
}

.RadRowButton20
{
    height: 20px;
    width: 20px;
}

.RadRowButton16
{
    height: 16px;
    width: 16px;
}

.RadRowButton10
{
    height: 10px;
    width: 10px;
}
/*font size and height for regular rows*/
.RadGrid
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.RadGrid .rgRow,
.RadGrid .rgAltRow,
.RadGrid .rgEditRow,
.RadGrid .rgFooter,
.RadGrid .rgGroupHeader
{
    height: 24px !important;
    font-size: 10pt;
    line-height: normal;
}

/*bottom border of cell*/
.RadGrid_Metro .rgRow > td,
.RadGrid_Metro .rgAltRow > td,
.RadGrid_Metro .rgEditRow > td
{
    border: none !important;
}

/*cells input row*/
.RadGrid .rgRow td,
.RadGrid .rgAltRow td,
.RadGrid .rgEditRow td
{
    padding: 1px 2px 1px 2px !important;
    height: 22px !important;
}

/*sort button on header*/
.RadGrid .rgHeader a
{
    color: white !important;
}

/*.RadGrid th.rgSorted {
    color: red!important;
}*/

.RadGrid th.rgSorted a
{
    color: black !important;
}

/*general header*/
.RadGrid .rgHeader
{
    /*top right bottom left*/
    padding: 2px 2px 2px 2px !important;
    background-color: dodgerblue;
    color: white !important;
    height: 18px !important;
    border-left-color: dodgerblue !important;
}

/*================================================ checkbox ======================================*/
.RadButton .rbCheckBox
{
    border-color: red !important;
}

.RadButton .rbText
{
    font-size: 11pt;
    vertical-align: middle !important;
}

.RadButton.rbRadioButton .rbText
{
    /*color:green !important;*/
    vertical-align: middle !important;
}

/*.RadButton .rbRadioButton .rbIcon .rbToggleRadio {
    border-color: red !important;
    padding: .4em 0 10px 0 !important;
}*/

.RadRadio
{
    padding-bottom: 10px !important;
}
/*================================================ Textbox ======================================*/

.Font8
{
    font-size: 8pt;
}

.Font9
{
    font-size: 9pt;
}

.Font11
{
    font-size: 11pt !important;
}

.Font10
{
    font-size: 10pt !important;
}

.Font18
{
    font-size: 18pt;
}

.Font24
{
    font-size: 24pt;
}

.RadInput .riTextBox
{
    /*font-size: 11pt !important;*/
    font-size: 11pt;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.RadInput .riTextBox.riFocused
{
    border-color: darkblue;
}

.RadInput .riTextBox.riHover
{
    border-color: gray;
}

.RadInput .riTextBox.riEnabled
{
    background-color: white;
    border-color: lightgray;
}

.RadInput .riTextBox.riDisabled
{
    background-color: gainsboro;
}

.txtRequired
{
    border-left: 6px solid dodgerblue !important;
}

.txtStd
{
    height: 27px !important;
}

/*================================================ Menu ======================================*/
div#MegaDropDown
{
    margin: 0 auto;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#MegaDropDown h3
{
    /*margin: 0 0 15px 0;
        padding: 4px 8px;*/
    font-size: 12pt;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
}

div.RadSiteMap .rsmLink,
div.RadSiteMap .rsmTemplate
{
    padding: 0;
}

/*spacing between items on sitemap links*/
.RadSiteMap .rsmItem
{
    margin-bottom: 2px;
}

.RadSiteMap .rsmTwoLevels .rsmLevel1
{
    padding-bottom: 10px;
}

.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmItem
{
    list-style: disc inside none;
}

/*links within the sitemap*/
div.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmLink,
div.RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmTemplate
{
    padding-left: 0;
    font-size: 11pt;
}

div.RadMenu_Default ul.rmRootGroup,
div.RadMenu_Default div.rmRootGroup
{
    background: none;
    border: 0;
    height: 100%;
    /*padding-left: 20px;*/
}

div.RadMenu_Default .rmRootGroup .rmRootLink
{
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-top: 0px !important;
}

div.RadMenu .rmItem
{
    position: static;
}

html .RadMenu_Default .rmRootLink
{
    font-size: 12pt;
}

/*setting the width and height of the popout */
div.RadMenu_Default .rmLink,
html div.RadMenu_Default li.rmItem.rmSelected .rmLink,
html div.RadMenu_Default li.rmItem.rmExpanded .rmLink
{
    color: #FFF;
    /*text-transform: uppercase;*/
}

/*this is the width and height of the popout*/
div.RadMenu_Default .rmContentTemplate
{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 350px;
    width: 700px;
}

div.RadMenu .rmPopup
{
    border: 1px solid #979797;
    /*padding: 8px 0 0 10px;*/
    position: relative;
    white-space: normal;
    /*margin-left: 1px;*/
}

html .RadMenu_Default a.rmLink:hover,
html .RadMenu_Default a.rmFocused,
html .RadMenu_Default a.rmSelected,
html .RadMenu_Default a.rmExpanded
{
    background-color: rgba(255, 255, 255, .5);
}

.mnuBlock
{
    background-color: white;
    padding: 2px;
    margin: 0px;
}

.mnuTitle
{
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
}

.mnuSubtitle
{
    font-size: 12pt;
    /*font-weight:bold;*/
    /*color:white;*/
}

.mnuNodeDisabled
{
    color: LightGray !important;
}

.mnuNodeEnabled
{
    color: Black !important;
}

/* ==================================== Date Picker ===============================================*/
.RadPicker .RadInput .riTextBox
{
    font-size: 11pt !important;
}

.RadMo
{
    height: 26px !important;
}

/* ===================================== RadComboBox =======================================*/
.RadComboBox .rcbInputCell INPUT.rcbInput
{
    height: 22px;
    font-size: 11pt;
    background-color: white;
}

.RadComboBoxDropDown,
.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter,
.RadComboBoxDropDown .rcbItem em
{
    background-color: White !important;
    font-size: 11pt !important;
}

/* ===================================== color picker =======================================*/
.RadColorPicker,
.RadColorPicker .rcpInput
{
    background-color: White !important;
    font-size: 11pt !important;
}

/*====================================== RAD DOCK Styling ============================================*/
.dockLayout
{
    margin: 3px !important;
}

.dockTitle
{
    color: white !important;
    font-weight: bold !important;
    font-size: 8pt;
}

.RadDock
{
    /* applies shadow to the element */
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

.rdTop
{
    border: 1px solid dodgerblue;
}

/*this sets left and right border to the RadDock content, as when we removed the sprite image, we do not have borders anymore*/
.rdMiddle, .rdBottom
{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

this sets bottom border to the RadDock bottom part, as when we removed the sprite image, we do not have borders anymore .rdBottom
{
    border-top: 1px solid white;
}

/* this removes background image sprite in order to be able to set background color to the titlebar */
.rdLeft, .rdCenter, .rdRight
{
    background-image: none !important;
    background-color: white !important;
}

/* this sets background color to the whole titlebar */
.rdTop .rdLeft, .rdTop .rdCenter, .rdTop .rdRight
{
    background-color: dodgerblue !important;
    color: white !important;
    height: 10px !important;
    line-height: 5px !important;
    min-height: 5px !important;
}

.rdTitleBar em
{
    text-align: left;
    color: white !important;
    font-weight: bold !important;
}

/*====================================== RAD FILE PICKER Styling ============================================*/
.RadUpload .ruFakeInput
{
    padding: 0px !important;
    width: 68px !important;
}

.RadUpload .ruBrowse, .RadUpload .ruBrowse .ruButtonHover
{
    background-image: none !important;
    background-color: white;
    height: 19px !important;
    width: 60px !important;
    /*top right bottom left*/
    padding: 2px 0px 0px 0px !important;
    margin: 0px;
    font-size: 8pt;
}

/*====================================== RAD SCHEDULER Styling ============================================*/
/*hides the drag bars on the aside of the appointment cell*/
.RadScheduler .rsAptResize
{
    visibility: hidden;
}

/*hide the edit dialog on double-click*/
.RadScheduler .rsDialog
{
    display: none;
}

.rsTodayCell
{
    background: lightblue !important;
}

.btnmargin
{
    margin-left: 5px !important;
}

.CheckBoxsmallFont label
{
    font-size: 11pt !important;
    line-height: 14pt;
    vertical-align: top
}

.chkfont
{
    font-size: 11pt !important;
    line-height: 14pt;
    vertical-align: top
}
button#alertify-cancel
{
    background: 0 0;
    border: none;
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    font-weight: 400;
    padding: 4px 12px;
    text-decoration: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0));
    background-image: -o-linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0));
    background-image: linear-gradient(top,rgba(255,255,255,.3),rgba(255,255,255,0));
    background-color: white !important;
    outline-color: #CCCCCC !important;
}
